{% extends 'base.html' %}
{% load static %}
{% block title %} Cart{% endblock title %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/checkout_process/cart.css' %}">
{% endblock %}
{% block content %}
    <div class="basket mt-2 cart-home">
        {% if cart.products.count > 0 %}

            <div class="basket-labels">
                <ul>
                    <li class="item item-heading">Item</li>
                    <li class="price">Price</li>
                    <li class="subtotal">Subtotal</li>
                </ul>
            </div>
            <div class="cart-products">
                {% for product in cart.products.all %}
                    <div class="basket-product cart-product">
                        <div class="item">
                            <div class="product-image">
                                <img src="{{ product.product_front_image.url }}" alt="Placholder Image 2"
                                     class="product-frame">
                            </div>
                            <div class="product-details">
                                <h1>  {{ product.name }}  </h1>
                                <p><strong> </strong></p>
                                <p>Product Code - 232321939</p>
                            </div>
                        </div>
                        <div class="price">{{ product.price }}</div>
                        <div class="subtotal">104.00</div>
                        <div class="remove">
                            {% include 'products/snippets/remove_from_cart.html' with product_id=product.id %}

                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            Empty cart
        {% endif %}
    </div>
    <aside class="cart-price-declarations">
        <div class="summary">
            <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
            <div class="summary-subtotal">
                <div class="subtotal-title">Subtotal</div>
                <div class="subtotal-value final-value" id="basket-subtotal">
                    <span class="cart-subtotal">{{ cart.subtotal }}</span>
                </div>
                <div class="summary-promo hide">
                    <div class="promo-title">Promotion</div>
                    <div class="promo-value final-value" id="basket-promo"></div>
                </div>
            </div>
            <div class="summary-delivery">
                <select name="delivery-collection" class="summary-delivery-selection">
                    <option value="0" selected="selected">Select Collection or Delivery</option>
                    <option value="collection">Collection</option>
                    <option value="first-class">Royal Mail 1st Class</option>
                    <option value="second-class">Royal Mail 2nd Class</option>
                    <option value="signed-for">Royal Mail Special Delivery</option>
                </select>
            </div>
            <div class="summary-total">
                <div class="total-title">Total</div>
                <div class="total-value final-value" id="basket-total">
                    <span class="cart-total">{{ cart.total }}</span>
                </div>
            </div>
            <div class="summary-checkout">
                <a href="{% url 'cart:cart_checkout' %}">
                    <button class="checkout-cta">Go to Secure Checkout</button>
                </a>
            </div>
        </div>
    </aside>
    <div class="cart-item-remove-form" style="display: none">
        {% include 'products/snippets/remove_from_cart.html' %}
    </div>
{% endblock %}


