{% extends 'base.html' %}
{% load static %}

{% block title %} Contact {% endblock title %}

{% block content %}
    <h4 class="text-center font-weight-bold">Contact</h4>
    <div class="row mt-1">
        <div class="col-5 offset-4">
            <form method="post" action="{% url 'basic:contact' %}"> {% csrf_token %}

                {{ form }}<br>
                <button type="submit" class="btn bg-secondary">Submit</button>
            </form>
        </div>
    </div>


{% endblock content %}
